body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url("../public/space.jpg") no-repeat center center fixed;
  background-size: cover;
}


.auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.auth-card {
  width: 380px;
  padding: 40px;
  border-radius: 14px;
  background: rgba(0, 0, 0, 0.35);
  border: 2px solid rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: white;
  box-shadow: 0 0 25px rgba(0, 140, 255, 0.35);
  text-align: center;
}


.auth-card h2 {
  margin-bottom: 25px;
  letter-spacing: 1px;
}


.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 25px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  font-size: 14px;
}


.auth-card button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  margin-top: 15px;
  font-size: 15px;
  font-weight: bold;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00c6ff;
}

.auth-card a {
  color: #9ecbff;
  text-decoration: none;
}
.input-group {
  position: relative;
  width: 100%;
  margin: 12px 0;
}

.input-group input {
  width: 80%;
  padding: 12px 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  font-size: 14px;
}

.input-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ecbff;
  font-size: 16px;
}
.dashboard-container {
  display: grid;
  grid-template-columns: 280px 1fr 320px;
  gap: 20px;
  padding: 20px;
  background: radial-gradient(circle at top, #070b14, #02030a);
  min-height: 100vh;
  color: white;
}

.panel {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 14px;
  padding: 15px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.panel h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #9ecbff;
}

.alert-item {
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 13px;
}

.alert-high {
  background: rgba(255, 0, 0, 0.15);
  border-left: 4px solid red;
}

.alert-low {
  background: rgba(0, 255, 100, 0.12);
  border-left: 4px solid #00ff88;
}

.stat-card {
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(0, 150, 255, 0.08);
  font-size: 13px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  color: #9ecbff;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 150, 255, 0.7);
}


.panel h3 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  color: #9ecbff;
  text-shadow: 0 0 6px rgba(0, 150, 255, 0.6);
}


